{% extends "includes/page.html" %}
{% block contents %}
<style>
    svg {
      border-style: solid;
      border-width: medium;
      flex-wrap: wrap;
    }
    </style>
<svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="250"
        height="900"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: First slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <rect width="100%" height="100%" fill="#aaa" ></rect>
</svg>
<svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="400"
        height="200"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: First slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <rect width="100%" height="100%" fill="#aaa" ></rect>
</svg>
<svg
        class="bd-placeholder-img bd-placeholder-img-lg d-block w-100"
        width="250"
        height="900"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-label="Placeholder: First slide"
        preserveAspectRatio="xMidYMid slice"
        focusable="false"
      >
        <rect width="100%" height="100%" fill="#aaa" ></rect>
</svg>
<script>
  document.querySelector(".btn-primary").addEventListener("click", function () {
    document
      .querySelector(".btn-secondary")
      .addEventListener("click", function () {
        console.log("Secondary button clicked!");
      });

    const fifthBtn = document.querySelector(".btn-danger");

    fifthBtn.classList.remove("btn-danger");
    fifthBtn.classList.add("btn-success");
  });
</script>

{% endblock %}
